# Coronavirus.COVID-19 in South Korea

-----

In [103]:
import pandas as pd
import numpy as np
import folium

In [104]:
data_patient = pd.read_csv("patient.csv") 
data_route = pd.read_csv("route.csv")
data_time = pd.read_csv("time.csv")
data_trend = pd.read_csv("trend.csv")
data_route['id'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       53, 54, 55, 56], dtype=int64)

## 1. Corona tracking Map

In [105]:
data_route_copy.head()

,id,date,province,city,visit,latitude,longitude,Num_tracking
0,1,2020-01-19,Incheon,Jung-gu,airport,37.460459,126.440680,1
1,1,2020-01-20,Incheon,Seo-gu,hospital_isolated,37.478832,126.668558,1
2,2,2020-01-22,Gyeonggi-do,Gimpo-si,airport,37.562143,126.801884,1
3,2,2020-01-23,Seoul,Jung-gu,hospital_isolated,37.567454,127.005627,1
4,3,2020-01-20,Incheon,Jung-gu,airport,37.460459,126.440680,1

In [106]:
data_route_copy = data_route.copy()
data_route_copy['Num_tracking'] = 1 
data_route_ing['date'] = pd.to_datetime(data_route_ing['date'])
data_routeForMap = data_route_ing.groupby(['date','province','city','latitude','longitude']).sum()
data_routeForMap = data_routeForMap.reset_index()
data_routeForMap

,date,province,city,latitude,longitude,Num_tracking
0,2020-01-19,Gyeonggi-do,Gimpo-si,37.563581,126.802056,2
1,2020-01-19,Incheon,Jung-gu,37.460459,126.440680,1
2,2020-01-19,Jeollanam-do,Muan-gun,34.996485,126.387447,1
3,2020-01-20,Gyeonggi-do,Bucheon-si,37.486112,126.781023,1
4,2020-01-20,Gyeonggi-do,Pyeongtaek-si,37.079940,127.058282,1
...,...,...,...,...,...,...
179,2020-02-19,Gyeongsangbuk-do,Gyeongju-si,35.858250,129.196800,1
180,2020-02-19,Gyeongsangbuk-do,Pohang-si,36.034762,129.355059,2
181,2020-02-19,Seoul,Jung-gu,37.567240,127.005700,1
182,2020-02-19,Seoul,Jungnang-gu,37.612806,127.098134,1
183,2020-02-19,Seoul,Seongdong-gu,37.559700,127.044000,1

In [107]:
data_GPS = data_route_copy[['id','latitude','longitude']] 
data_GPS
#data_routeForMap = pd.merge(['id',

     id   latitude   longitude
0     1  37.460459  126.440680
1     1  37.478832  126.668558
2     2  37.562143  126.801884
3     2  37.567454  127.005627
4     3  37.460459  126.440680
..   ..        ...         ...
207  55  36.034762  129.355059
208  56  37.576420  126.972759
209  56  37.593919  127.051291
210  56  37.581837  126.969186
211  56  37.612806  127.098134

[212 rows x 3 columns]

In [116]:
# Plus the contact_number of confirmed personregion to that region 
data_routeForMap = pd.merge(data_routeForMap,data_GPS, on=['latitude','longitude'])
data_routeForMap

,date,province,city,latitude,longitude,Num_tracking,id_x,id_y
0,2020-01-19,Gyeonggi-do,Gimpo-si,37.563581,126.802056,2,12,12
1,2020-01-19,Gyeonggi-do,Gimpo-si,37.563581,126.802056,2,12,14
2,2020-01-19,Gyeonggi-do,Gimpo-si,37.563581,126.802056,2,14,12
3,2020-01-19,Gyeonggi-do,Gimpo-si,37.563581,126.802056,2,14,14
4,2020-01-19,Incheon,Jung-gu,37.460459,126.440680,1,1,1
...,...,...,...,...,...,...,...,...
1582,2020-02-19,Gyeongsangbuk-do,Pohang-si,36.034762,129.355059,2,54,55
1583,2020-02-19,Gyeongsangbuk-do,Pohang-si,36.034762,129.355059,2,55,54
1584,2020-02-19,Gyeongsangbuk-do,Pohang-si,36.034762,129.355059,2,55,55
1585,2020-02-19,Seoul,Jung-gu,37.567240,127.005700,1,40,40
1586,2020-02-19,Seoul,Jungnang-gu,37.612806,127.098134,1,56,56

In [118]:
plus_info = data_patient[['id','contact_number']] 
plus_info = plus_info.fillna(0)
plus_info.rename(columns ={"id":"id_x"},inplace =True)
plus_info['id_y'] = plus_info['id_x']
plus_info
data_map = pd.merge(data_routeForMap,plus_info, on=['id_x','id_y'])
#data_routeForMap

In [121]:
data_map

,date,province,city,latitude,longitude,Num_tracking,id_x,id_y,contact_number
0,2020-01-19,Gyeonggi-do,Gimpo-si,37.563581,126.802056,2,12,12,422.0
1,2020-01-20,Gyeonggi-do,Bucheon-si,37.486112,126.781023,1,12,12,422.0
2,2020-01-21,Incheon,Jung-gu,37.463100,126.631371,1,12,12,422.0
3,2020-01-22,Gangwon-do,Gangneung-si,37.683650,129.043829,1,12,12,422.0
4,2020-01-22,Gangwon-do,Gangneung-si,37.690782,129.032031,1,12,12,422.0
...,...,...,...,...,...,...,...,...,...
624,2020-02-19,Gyeonggi-do,Seongnam-si,37.351380,127.123500,1,32,32,0.0
625,2020-02-19,Gyeongsangbuk-do,Gyeongju-si,35.858249,129.196778,1,41,41,0.0
626,2020-02-19,Gyeongsangbuk-do,Gyeongju-si,35.858250,129.196800,1,39,39,0.0
627,2020-02-19,Gyeongsangbuk-do,Pohang-si,36.034762,129.355059,2,54,54,0.0
628,2020-02-19,Gyeongsangbuk-do,Pohang-si,36.034762,129.355059,2,55,55,0.0

In [126]:
data_map= data_map.drop_duplicates(['latitude','longitude','id_x','id_y'],keep='first')
data_map

,date,province,city,latitude,longitude,Num_tracking,id_x,id_y,contact_number
0,2020-01-19,Gyeonggi-do,Gimpo-si,37.563581,126.802056,2,12,12,422.0
1,2020-01-20,Gyeonggi-do,Bucheon-si,37.486112,126.781023,1,12,12,422.0
2,2020-01-21,Incheon,Jung-gu,37.463100,126.631371,1,12,12,422.0
3,2020-01-22,Gangwon-do,Gangneung-si,37.683650,129.043829,1,12,12,422.0
4,2020-01-22,Gangwon-do,Gangneung-si,37.690782,129.032031,1,12,12,422.0
...,...,...,...,...,...,...,...,...,...
624,2020-02-19,Gyeonggi-do,Seongnam-si,37.351380,127.123500,1,32,32,0.0
625,2020-02-19,Gyeongsangbuk-do,Gyeongju-si,35.858249,129.196778,1,41,41,0.0
626,2020-02-19,Gyeongsangbuk-do,Gyeongju-si,35.858250,129.196800,1,39,39,0.0
627,2020-02-19,Gyeongsangbuk-do,Pohang-si,36.034762,129.355059,2,54,54,0.0
628,2020-02-19,Gyeongsangbuk-do,Pohang-si,36.034762,129.355059,2,55,55,0.0

In [128]:
# World wide Map Plotting

m = folium.Map(location=[36.3004049, 127.7613334], tiles='cartodbpositron',
               min_zoom=5, max_zoom=8, zoom_start=40) # 줌인아웃 크기 조절 가능 

for i in range(0, len(data_map)):
    folium.Circle(
        location=[data_map.iloc[i]['latitude'], data_map.iloc[i]['longitude']] # latitude 위도,경도 
        ,color='crimson', 
        tooltip =   '<li><bold>Date : '+str(data_map.iloc[i]['date'])+
                    '<li><bold>Province : '+str(data_map.iloc[i]['province'])+
                    '<li><bold>City : '+str(data_map.iloc[i]['city'])+
                    '<li><bold>Contact_number : '+str(data_map.iloc[i]['contact_number'])+
                    '<li><bold>Num_Tracking : '+str(data_map.iloc[i]['Num_tracking']),
        radius=int(data_map.iloc[i]['Num_tracking'])).add_to(m)

In [129]:
m.save("C:/Users/ghkdn/Jupyter/EDA_Visualization/Coronavirus-Korea/map.html")

-----------